body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

/*-------Header-------*/
.App-header {
  margin: 30px 0;
}

/*-------IMG logo-------*/
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

/*-------Footer-------*/
.App-footer {
  text-align: center;
  margin: 30px 0;
}